<div class="row col-sm-6">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Incompleted</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'task', collection: @tasks, as: :task %>
    </tbody>
  </table>
</div>
<div class="row col-sm-6">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'task', collection: @completed_tasks, as: :task %>
    </tbody>
  </table>
</div>

<%= link_to "New Task", new_task_path, class: 'btn btn-success' %>
